<div class="card border-0 p-4">
  <span>
    <b>My Cards</b>
    <fa-icon [icon]="ficons.faEllipsisVertical" class="card-menu"></fa-icon>
  </span>
  <div class="card-image mt-3">
    <img src="assets/card.png" width="100%" />
  </div>
  <div class="card mt-4 border-0">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p class="fs-12">Your Balance</p>

        <span><b> $4369.34</b></span>
      </li>
      <li class="list-group-item">
        <span class="fs-12"> Currency</span
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="fs-12">Status</span>
        <span class="mt-3 fs-12"> USD/US Dollar</span
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
          class="fs-12"
        >
          Active</span
        >
      </li>
    </ul>
  </div>
  <button class="btn btn-light">+ Add New Card</button>
</div>
